@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@font-face {
    font-family: 'Ayer Poster';
    src: local('Ayer Poster Medium'), local('Ayer-Poster-Medium'), url('font/AyerPoster-Medium.woff2') format('woff2'), url('font/AyerPoster-Medium.woff') format('woff'),
      url('font/AyerPoster-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  .animate-spin {
    animation: spin 1s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  